{% extends "polls/base.html" %}

{% block title %} O nas {% endblock %}

{% block content %}
    <div>
        <p>
            Janez Novak <br/>
            Večna pot 113 <br/>
            041 444 666
        </p>
    </div>
{% endblock %}
