{% extends "polls/base.html" %}
{% load static %}

{% block title %} Napredno iskanje {% endblock %}

{% block content %}

    <form action="{% url 'polls:search_location' %}" method="post" id="get_options_01">
    {% csrf_token %}
    <div class="search-filters">
        <span><input name="t_location" class="loc-search-box" type="text" placeholder="Poišči cene glede na lokacijo .. "/><button class="search-button"><img src="{% static 'polls/images/searchicon.png' %}" alt="ni slike"/></button></span>
        <span><select name="t_fuel_type" form="get_options_01">
            <option>95-oktanski</option>
            <option>98-oktanski</option>
            <option>100-oktanski</option>
            <option>Dizel</option>
        </select><img src="{% static 'polls/images/gaspumpicon.png' %}" alt="ni slike" class="crpalka"/><button class="gpsbutton"><img src="{% static 'polls/images/gps.png' %}" alt="ni slike"/></button></span>
    </div>
    </form>

    <div class="title-row">Najnižje cene v {{ location }}</div>
    <div>
        <table id="tabelca" class="seznam-crpalk">
        {% for fuel_station in fuel_stations_list %}
            <tr><td>{% if fuel_type == '95' %} {{ fuel_station.price_95 }} {% elif fuel_type == '98' %} {{ fuel_station.price_98 }} {% elif fuel_type == '100' %} {{ fuel_station.price_100 }} {% else %} {{ fuel_station.price_diesel }} {% endif %}</td>
                <td><span><a href="{% url 'polls:detail' fuel_station.id %}">{{ fuel_station.name }}</a></span><br/>{{ fuel_station.address }}</td>
                <td>{{ fuel_station.region }} regija</td>
                <td>3m nazaj</td>
            </tr>
        {% endfor %}
        <td onclick="vstavi()" colspan="4">Oglejte si več cen</td></tr>
        </table>
    </div>

{% endblock %}

<hr />

{% block subcontent %}

<section>
    <table>
        <tr>
            <td colspan="3">Analiza prikazanih <hr /></td>
        </tr>
        <tr>
            <td>Povprečna cena <br> <span>{{ avg_price }}</span></td>
            <td>Najnižja cena <br> <span>{{ lowest_price }}</span></td>
            <td>Trend spreminjanja<br> <span><img src="{% static 'polls/images/gor.png' %}" alt="ni slike"></span></td>
        </tr>
    </table>
</section>

{% endblock %}