{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Pumpa.si {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/media.css' %}">
    <script src="{% static 'polls/page.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>

<header>
    <nav>
        <div>
            <a href="{% url 'polls:index' %}"><img class="logo" src="{% static 'polls/images/logo.png' %}" alt="ni slike"/></a>
        </div>
        <div>
            <a href="{% url 'polls:advanced_search' %}">Napredno iskanje</a>
        </div>
        <div>
            <a href="{% url 'polls:route_planner' %}">Načrtovalec poti</a>
        </div>
        <div>
            <a href="{% url 'polls:about' %}">O nas</a>
        </div>
        <div>
            {% if user.is_authenticated %}
            &nbsp &nbsp &nbsp{{user.username}}:<a href="{% url 'polls:logout_user' %}">Odjavi</a>
            {% else %}
            <a href="{% url 'polls:login_user' %}">Prijava</a>
            {% endif %}
        </div>
    </nav>

    <hr />

</header>

<main>
    {% block content %} {% endblock %}
</main>

{% block subcontent %} {% endblock %}

</body>
</html>