{% extends "polls/base.html" %}
{% load static %}

{% block title %} Podatki o črpalki {% endblock %}

{% block content %}

<div>
    <table class="ena-crpalka">
        <tr>
            <td>{{ fuel_station.name }}</td>
            <td>{{ fuel_station.address }}</td>
            <td>ODPRTO</td>
            <td>3m nazaj</td>
        </tr>
    </table>

</div>

    <div class="cene-goriv">
        {% for price in prices %}
        <div>{{ price.0 }} <hr /><span> {{ price.1 }}</span></div>
        {% endfor %}
    </div>

    <div class="odpiralni_cas">
        <div>Odpiralni čas <hr />
        <table class="urnik">
            <tr><td>PONEDELJEK</td> <td>06:00 - 22:00</td></tr>
            <tr><td>TOREK</td> <td>06:00 - 22:00</td></tr>
            <tr><td>SREDA</td> <td>06:00 - 22:00</td></tr>
            <tr><td>ČETRTEK</td> <td>06:00 - 22:00</td></tr>
            <tr><td>PETEK</td> <td>06:00 - 22:00</td></tr>
            <tr><td>SOBOTA</td> <td>06:00 - 22:00</td></tr>
            <tr><td>NEDELJA</td> <td>06:00 - 22:00</td></tr>
        </table>
        </div>
    </div>

{% endblock %}
