{% load static %}

{#<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />#}
{##}
{#{% if latest_question_list %}#}
{#    <ul>#}
{#    {% for question in latest_question_list %}#}
{#        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>No polls are available.</p>#}
{#{% endif %}#}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Google Maps with data input table</title>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <style>
        a#msg {
            font-size: 11px;
            font-family: arial;
            text-decoration: none;
            color: black;
            display:inline-block;
            padding: 5px 0;
            border-bottom: 2px dotted lightgrey;
        }
        #map {
            height: 100%;
            width: 100%;
            position:absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: .75;
        }
        .gmnoprint:not(.gm-bundled-control) {
            display: none;
        }

        .gm-bundled-control .gmnoprint {
            display: block;
        }
        a[href^="http://maps.google.com/maps"]{display:none !important}
        a[href^="https://maps.google.com/maps"]{display:none !important}
        a[href^="https://www.google.com/maps"]{display:none !important}
        #info {
            position: absolute;
            z-index: 1;
            width: 300px;
            margin: 50px auto 0;
        }
        input, textarea {
            border: none;
            outline: none;
            resize: none;
            width: 100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 13px;
            margin: 0;
            padding: 0;
        }
        .contact-form {
            background: white;
            height: auto;
            max-width: 350px;
            overflow: hidden;
            width: 250px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
            -webkit-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
            box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
        }
        @media (max-width: 500px) {
            .contact-form {
                margin: 0 0 100px;
                width: 100%;
            }
        }
        .contact-form .email, .contact-form .message, .contact-form .name {
            position: relative;
        }
        .contact-form .email input:focus, .contact-form .email textarea:focus, .contact-form .message input:focus, .contact-form .message textarea:focus, .contact-form .name input:focus, .contact-form .name textarea:focus {
            background: #f4f5f6;
        }
        @media (max-width: 500px) {
            .contact-form .email, .contact-form .name {
                width: 100%;
            }
        }
        .contact-form .email input, .contact-form .name input {
            padding: 23px 0 8px 23px;
        }
        .contact-form .email {
            border-left: 1px #e6e6e6 solid;
            float: right;
        }
        @media (max-width: 500px) {
            .contact-form .email {
                border-left: none;
                border-top: 1px #e6e6e6 solid;
            }
        }
        .contact-form .message {
            border-bottom: 1px #e6e6e6 solid;
            border-top: 1px #e6e6e6 solid;
            clear: both;
        }
        .contact-form .message textarea {
            height: 100px;
            padding: 20px;
        }
        .contact-form .name {
            float: left;
        }
        .contact-form .submit {
            background: #f4f5f6;
            display: block;
            overflow: hidden;
            padding: 10px;
        }
        .contact-form .submit .button {
            background: #3498db;
            border: 1px #3498db solid;
            color: white;
            float: right;
            padding: 9px 0;
            width: 100px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        @media (max-width: 500px) {
            .contact-form .submit .button {
                float: none;
            }
        }
        .contact-form .submit .button:hover {
            background: #4aa3df;
        }
        .contact-form .submit .button:active {
            background: #258cd1;
        }
        .contact-form .submit .button:focus {
            border-color: #b6daf2;
            -moz-box-shadow: #75b9e7 0 0 4px 1px, #75b9e7 0 0 4px 1px inset;
            -webkit-box-shadow: #75b9e7 0 0 4px 1px, #75b9e7 0 0 4px 1px inset;
            box-shadow: #75b9e7 0 0 4px 1px, #75b9e7 0 0 4px 1px inset;
        }
        .contact-form .submit .user-message {
            float: left;
            padding-top: 22px;
        }
        @media (max-width: 500px) {
            .contact-form .submit .user-message {
                float: none;
                padding: 0 0 10px;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/first_page.css' %}">
</head>

<body>

<div id="map"></div>

<div id="info">

    <form class="contact-form">
        <div>
            <img class="logo" src="{% static 'polls/images/logo.png' %}"/>
        </div>
        <select>
            <option>95-oktanski</option>
            <option>98-oktanski</option>
            <option>100-oktanski</option>
            <option>Dizel</option>
        </select><img height="32" src="{% static 'polls/images/gaspumpicon.png' %}" class="crpalka"/>
        <button class="gpsbutton"><img src="{% static 'polls/images/gps.png' %}"/></button>
    </form>
</div>

<div id="navbar">
    <nav>
        <a href="{% url 'polls:advanced_search' %}">Napredno iskanje</a>
        <a href="{% url 'polls:route_planner' %}">Načrtovalec poti</a>
        <a href="{% url 'polls:about' %}">O nas</a>
    </nav>
</div>

<script>
    var position = [46.056946, 14.505751];

    function initialize() {

        var myOptions = {
            zoom: 6,
            streetViewControl: false,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map'),
                myOptions);


        latLng = new google.maps.LatLng(position[0], position[1]);

        map.setCenter(latLng);

        marker = new google.maps.Marker({
            position: latLng,
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>

</html>

