{% extends "polls/base.html" %}
{% load static %}

{% block title %} Prijava/registracija uporabnika{% endblock %}

{% block content %}

<h1>{{ error_msg }}</h1>

<form name="login_user" method="post" action="{% url 'polls:login_user' %}">
    <p>Existing user login:</p>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"> <br />
    <input type="text" name="password" placeholder="Password"> <br />
    <input type="submit" value="Login"/>
</form>

<br />
<br/>

<form name="register_user" method="post" action="{% url 'polls:login_user' %}">
    <p>New user registration:</p>
    {% csrf_token %}
    <input type="text" name="new_username" placeholder="Pick a username"> <br />
    <input type="text" name="password" placeholder="Password"> <br />
    <input type="text" name="password_again" placeholder="Password again"> <br />
    <input type="submit" value="Register"/>
</form>

{% endblock %}