{% extends "polls/base.html" %}
{% load static %}

{% block title %} Načrtovalec poti {% endblock %}

{% block content %}

    <form name="vnos-nacrtuj" class="nacrtovalec" onsubmit="return validate_poraba()" method="post">
        <div class="vnos">
            <p>Vnesite začetno in ciljno lokacijo<br></p>
            <input type="text" name="zacetek" placeholder="Začetek">
            <input type="text" name="konec" placeholder="Cilj">
            <input type="text" name="povprecna-poraba" placeholder="Povprečna poraba 7,5 L/100km">
        </div>
        <br />
        <div class="pojdi">
        <input type="submit" name="go" value="Pojdi">
        </div>
    </form>

{% endblock %}