body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

.logo {
    height: 50px;
}

.contact-form {
    padding: 10px;
    vertical-align: top;
}

    .contact-form select {
        height: 42px;
        vertical-align: top;
    }

    .contact-form img.crpalka {
        vertical-align: top;
        height: 33px;
        padding: 4px;
        border: 1px solid #777;
    }

    .contact-form button.gpsbutton {
        margin-top: 6px;
        vertical-align: top;
        padding: 4px;
        border: 1px solid #777;
        background-color: #1D97A7;
    }

        .contact-form button.gpsbutton img {
            height: 18px;
            margin-bottom: -2px
        }
        
#navbar {
    padding: 10px 15px;
    border-radius: 3px;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 150px;
}

#navbar a {
    color: black;
    text-decoration: none;
    padding: 0 20px;
}

    #navbar a:hover {
        color: #777;
    }