html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

body hr {
    margin: 20px 0;
    color: rgb(220, 220, 220);
}

input, select {
    font-family: Arial, sans-serif;
    font-size: 14px;
    -webkit-appearance: textfield;
}

a {
    color: black;
    text-decoration: none;
    height: 100%;
}

a:hover {
    color: #777;
}


header {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    background-color: white;
    z-index: 10;
}

    header nav {
        position: relative;
        height: 35px;
        padding: 10px 10px 2px 10px;
        margin-left: 8vw;
    }

    header nav div {
        display: inline-block;
        height: 100%;
        margin: 0;
        vertical-align: middle;
    }

        header nav div a {
            margin: 0 20px;
            display: inline-block;
            vertical-align: middle;
            line-height: 35px;
        }

        header nav div img {
            height: 100%;
            margin-right: 20px;
        }

    header hr{
        margin: 0 0;
    }

main {
    margin-top: 67px;
    padding: 10px 10px;
    width: 75vw;
    margin-left: 8vw;
    max-width: 700px;
    min-width: 500px;
}

    main div.search-filters{
        position: relative;
        height: 43px;
    }

    main div.search-filters input, main div.search-filters button, main div.search-filters select{
        margin:0;
        padding:0;
    }

    main div.search-filters input.loc-search-box{
        vertical-align: top;
        width: 225px;
        padding: 12px 5px;
        margin: 0;
    }

    main div.search-filters button.search-button{
        vertical-align: top;
        padding: 2px 6px;
        margin: 0 0 0 -1px;
        background-color: white;
        -webkit-appearance: textfield;
        /*padding-bottom: 4px;*/
    }

    main div.search-filters button.search-button img{
        /*height: 30px;*/
    }

    main div.search-filters select {
        background-color: white;
        /*border-radius: 0px;*/
        margin-left: 40px;
        vertical-align: top;
        padding: 13px 14px;
    }

    main div.search-filters img {
        height: 34px;
    }

    main div.search-filters img.crpalka {
        padding: 4px 3px;
        margin: 0 0 0 -1px;
        border: 1px solid rgb(166, 166, 166);
        -webkit-appearance: textfield;
        background-color: white;
    }

    main div.search-filters button.gpsbutton {
        padding: 3px;
        vertical-align: top;
        margin-top: 7px;
        margin-left: 5px;
        background-color: #1D97A7;
        border-color: #1D97A7;
    }

    main div.search-filters button.gpsbutton img {
        margin-bottom: -2px;
        height: 20px;
    }

    main div.cene-goriv, main div.odpiralni_cas{
        margin-top: 30px;
    }

    main div.cene-goriv div{
        min-width: 150px;
        text-align: center;
        display: inline-block;
        border: 1px solid rgb(220, 220, 220);
        background-color: white;
        padding: 10px 0 15px 0;
        margin-right: 20px;
    }

    main div.cene-goriv div span {
        font-size: 30px;
        line-height: 53px;
    }

    main div.odpiralni_cas div {
        width: 250px;
        text-align: center;
        border: 1px solid rgb(220, 220, 220);
        background-color: white;
        padding: 10px 0 15px 0;
    }

    main div.cene-goriv div hr, main div.odpiralni_cas div hr {
        margin: 10px;
    }

    main div.title-row {
        margin-top: 30px;
        padding-left: 15px;
        background-color: #1D97A7;
        font-size: 18px;
        color: white;
        height: 43px;
        line-height: 43px;
    }

    main div table {
        width: 100%;
        margin-top: 5px;
        border: 1px solid rgb(220, 220, 220);
        background-color: white;
    }

    main table.urnik {
        border: none;
    }

    main table.urnik td {
        text-align: left;
        padding: 5px 18px;
    }

    main div table.seznam-crpalk tr td:first-child {
        font-size: 30px;
    }

    main div table.seznam-crpalk tr:last-child td{
        text-align: center;
        font-size: 14px;
        padding: 30px;
    }

    main div table.seznam-crpalk tr:last-child td:hover{
        cursor: pointer;
    }

    main div table.seznam-crpalk td span {
        font-weight: bold;
        text-transform: uppercase;
    }

    main div table.seznam-crpalk tr td:nth-child(2) {
        line-height: 20px;
    }

    main div table.ena-crpalka tr td:first-child {
        padding-left: 20px;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }

    main div table.ena-crpalka tr td:nth-child(3) {
        font-weight: bold;
        text-transform: uppercase;
        color: #009900;
    }

    main div table td {
        vertical-align: middle;
        padding: 15px 10px;
    }

    main div table.seznam-crpalk tr {
        border-bottom: 1px solid rgb(220, 220, 220);
    }

    form.nacrtovalec div.vnos {
        max-width: 350px;
        background-color: #1D97A7;
        text-align: center;
        font-size: 18px;
        color: white;
        line-height: 33px;
        padding: 10px;
    }

    form.nacrtovalec div.pojdi {
        max-width: 350px;
        background-color: white;
        text-align: center;
        font-size: 18px;
        color: white;
        line-height: 33px;
        padding: 10px;
    }

    form.nacrtovalec input {
        text-align: center;
        vertical-align: middle;
        width: 225px;
        margin-bottom: 15px;
        margin-top: 10px;
        padding: 12px 5px;
    }

    form.nacrtovalec div.pojdi input {
        background-color: #1D97A7;
        color: white;
        border-color: #1D97A7;
    }

section {
    margin-top: 30px;
    margin-left: 8vw;
    padding: 0 10px;
    width: 75vw;
    max-width: 700px;
}

    section table {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid rgb(220, 220, 220);
        background-color: white;
    }

    section table td {
        text-align: center;
        padding: 15px;
    }

    section table td span {
        font-size: 30px;
        line-height: 50px;
    }

    section table tr:first-child td{
        font-size: 18px;
        text-align: left;
        /*line-height:;*/
    }

    section table hr {
        margin: 10px 10px 0px 10px;
    }

    section img {
        height: 20px;
    }

    #disclaimer {
        padding: 20px 20px 10px 45px;
        margin-left: 8vw;
        width: 75vw;
        max-width: 700px;
    }
