@media screen and (max-width: 700px) {
    header{
        position: relative;
    }

    header nav {
        height: auto;
    }

    header nav div img{
        height: 35px;
    }

    header nav div {
        display: block;
    }

    header nav div a{
        margin: 0;
    }

    main div.search-filters span {
        display: block;
        line-height: 50px;
    }

    main div.search-filters span select {
        margin-left: 0;

    }

    main {
        margin-top: 0px;
    }

    main div.title-row{
        margin-top: 70px;
    }

    main div.cene-goriv div {
        margin-top: 10px;
    }
}